.projectcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.projectcontainer img {
  background-color: white;
  height: 250px;
  width: 45%;
  object-fit: cover;
  border-radius: 15px;
}

.projectcontainer .detailscontainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectcontainer p {
  font-size: 1.6rem;
  text-align: left;
}

.projectcontainer .button {
  color: white;
  /* border-radius: 50%; */
  padding: 15px 30px;
  font-size: 1.4rem;
  border-radius: 100px;
  /* width:fit-content; */
  border-width: 0;
  text-decoration: none;
  transition: padding 200ms cubic-bezier(0.65, -0.43, 0.2, 2.12);
}

.projectcontainer .button1 {
  background-color: #5134b9;
}

.projectcontainer .button2 {
  border: 2px white solid;
}

.projectcontainer .button:hover {
  padding: 15px 50px;
}

.buttoncontainer {
  display: flex;
  justify-content: end;
  white-space: 10px;
}

.buttoncontainer a {
  margin: 10px;
}

@media only screen and (min-width: 700px) {
  .projectcontainer .order2 {
    order: 2;
  }
}

@media only screen and (max-width: 700px) {
  .projectcontainer {
    flex-direction: column;
  }

  .projectcontainer img {
    width: 100%;
  }

  .projectcontainer .detailscontainer {
    width: 100%;
  }
}
