.aboutme-container{
    display: block;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding-top: 6vw;
}



.aboutme-container h1{
    color: white;
    font-size: 7rem;
    width: 100%;
    text-align: right;
}

.aboutme-container .para{
    display: flex;
    justify-content: end;
    width: 100%;
}

.aboutme-container p{
    color: white;
    font-size: 1.8rem;
    text-align: right;
    width: 80%;
}

.aboutme-container .skillcontainer{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.aboutme-container .skillcontainer img{
    margin-left: 40px;
}