.outer-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 1380px;
    display:block;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.downArrow{
    margin-top: 0px;
}

.downArrow img{
    border-radius: 50px;
    transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.downArrow img:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}
