

.container{
    display: grid;
    /* height: 95vh; */
    width: 100%;
    padding: auto 20px;
    margin-top: 114px;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 200px;
    place-items: center;
    margin-bottom: 5px;
}

.intro-container{
    /* background-color: black; */
    grid-row: 1;
    grid-column: 1;
}

.intro-container h1{
    text-align: left;
    color: #AA9AE5;
    font-size: 7rem;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}

.intro-container p{
    text-align: left;
    color: white;
    font-size: 1.8rem;
    width: 100%;
}

.container img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    grid-column: 2;
}

.social-container{
    display: flex;
}

/* media query for screen max width 900px or less */
@media only screen and (max-width: 800px) {

    .container{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        gap: 0px;
        height: auto;
        min-height: 300px;
    }

    .intro-container{
        grid-column: 1;
        grid-row: 2;
    }
    
    .container img{
        grid-row: 1;
        grid-column: 1;
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    .container{
        gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .container img{
        width: 80%;;
    }
}