.projects{
    width: 90%;
    float: right;
    padding-top: 6vw;;
}

.projects h1{
    width: 100%;
    text-align: right;
    font-size: 6rem;
}

@media only screen and (max-width: 1000px) {
    .projects{
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .projects h1{
        font-size: 5rem;
    }
}

