.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1380px;
  height: 70%;
  margin: 0px 5%;
  background-color: #181818;
}

/* .item-list {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 80%;
  list-style: none;
} */

.item-list li {
  margin-left: 50px;
  list-style: none;
}

.navbar ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar a {
  width: 100%;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.download {
  background-color: #5134b9;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 100px;
  font-weight: 600;
  transition: padding 200ms cubic-bezier(0.65, -0.43, 0.2, 2.12);
  -webkit-transition: padding 200ms cubic-bezier(0.65, -0.43, 0.2, 2.12);
}

h1 {
  color: white;
  font-size: 3rem;
}

.navbar .toggle-button {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  right: 0rem;
  z-index: 4;
  height: 21px;
  width: 30px;
  padding: 20px 16px;
  /* top: 1.2rem; */
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (min-width: 1001px) {
  .download:hover {
    padding: 20px 30px;
  }

  .item-list {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 80%;
    list-style: none;
    /* background-color: white; */
  }
}

@media only screen and (max-width: 1000px) {
  .navbar .toggle-button {
    display: flex;
  }

  .item-list {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 80%;
    list-style: none;
  }

  .inactive{
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .navbar h1{
    margin-left: 5%;
    margin-right: 5%;
  }

  .item-list ul {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .item-list li {
    width: 100%;
    margin: 0;
  }


  .download {
    background: none;
    text-decoration: none;
    padding: 0;
    border-radius: 0;
  }

  .navbar a {
    font-size: 2.6rem;
    display: block;
    padding: 12px 0;
  }

  .item-list li:hover {
    background-color: #555;
  }

}
